In [136]:
import pandas as pd
import numpy as np

In [137]:
dc_listings = pd.read_csv('data/dc_airbnb.csv')
dc_listings.shape

(3723, 19)

In [138]:
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD

- host_response_rate: 호스트의 응답률
- host_acceptance_rate: 임대로 전환하는 호스트에 대한 요청 수
- host_listings_count: 호스트가 가지고있는 다른 목록의 수
- latitude: 지리적 좌표의 위도 치수
- longitude: 좌표의 경도 부분
- city: 생활 공간이있는 도시
- zipcode: 생활 공간이있는 우편 번호
- state: 생활 공간이있는 상태
- accommodates: 렌탈이 수용 할 수있는 게스트 수
- room_type: 생활 공간의 유형 ( Private room, Shared room또는Entire home/apt
- bedrooms: 임대에 포함 된 침실 수
- bathrooms: 임대에 포함 된 욕실의 수
- beds: 렌탈에 포함 된 침대 수
- price: 1 박 임대료
- cleaning_fee: 퇴실 후 생활 공간 청소에 사용되는 추가 요금
- security_deposit: 파손시 환불 가능한 보증금
- minimum_nights: 게스트가 임대 할 수있는 최소 숙박 일수
- maximum_nights: 게스트가 임대 할 수있는 최대 숙박 일수
- number_of_reviews: 이전 게스트가 남긴 리뷰 수

# 질문1
- 3 명을 수용 할 수있는 생활 공간과 데이터 프레임의 첫 번째 생활 공간 사이의 유클리드 거리를 계산합니다 dc_listings.
- 함수를 first_distance사용하여 결과를 할당하고 값을 표시합니다 print.

In [139]:
our_acc_value = 3
first_living_space_value = dc_listings.iloc[0]['accommodates']
first_living_space_value

4

In [140]:
first_distance = np.abs(first_living_space_value - our_acc_value)
first_distance

1

# 문제 2
- accommodates열의 각 값과 값 사이의 거리를 계산합니다. dc_listings이 값 3은 목록에서 수용 할 수있는 사람 수입니다.
- 사용 apply의 각 값 사이의 절대 값을 계산하는 방법 accommodates과 3상기 거리 값을 포함하는 새로운 시리즈를 반환한다.
- distance열에 거리 값을 지정하십시오 .
- 시리즈 방법 value_counts과 print함수를 사용하여 distance열의 고유 한 값 수를 표시합니다 .

- abs = 절대값

In [141]:
new_listing = 3
dc_listings['distance'] = dc_listings['accommodates'].apply(lambda x: np.abs(x - new_listing))

In [142]:
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC,1
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC,3
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD,2
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC,1
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD,1

In [143]:
dc_listings[dc_listings['distance'] == 0]['accommodates']

26      3
34      3
36      3
40      3
44      3
       ..
3675    3
3697    3
3707    3
3714    3
3722    3
Name: accommodates, Length: 461, dtype: int64

# 문제 3

- 의 행 순서를 무작위로 지정합니다 dc_listings.
- np.random.permutation()함수를 사용하여 셔플 된 인덱스 값의 NumPy 배열을 반환합니다.
- loc[]셔플 된 순서를 포함하는 새 Dataframe을 반환 하려면 Dataframe 메서드 를 사용합니다 .
- 새 데이터 프레임을 dc_listings.
- 무작위 화 후 열을 기준으로 정렬 dc_listings하고에 distance다시 할당합니다 dc_listings.
- 함수를 price사용하여 열의 처음 10 개 값을 표시합니다 print.

In [144]:
np.random.seed(1)
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]
dc_listings = dc_listings.sort_values('distance')
dc_listings.iloc[0:10]['price']

577     $185.00
2166    $180.00
3631    $175.00
71      $128.00
1011    $115.00
380     $219.00
943     $125.00
3107    $250.00
1499     $94.00
625     $150.00
Name: price, dtype: object

# 문제 4

- 열에서 쉼표 ( ,) 및 달러 기호 문자 ( $)를 제거하십시오 price.
- 사용 str우리는 문자열 방법 다음에 열의 각 값에 문자열 방법을 적용 할 수 있도록 빈 문자로 모든 쉼표 문자를 대체하는 접근을 바꾸기 :stripped_commas = dc_listings['price'].str.replace(',', '')
- 달러 기호 문자도 제거하려면 반복하십시오.
- 정리 된 값을 포함하는 새 Series 객체를 float데이터 유형으로 변환하고 의 price열에 다시 할당합니다 dc_listings.
- price열 에서 처음 5 개 값의 평균을 계산 하고에 할당합니다 mean_price.
- print아래 의 함수 또는 변수 검사기를 사용하여 mean_price.

In [145]:
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')

In [146]:
dc_listings['price'] = stripped_dollars.astype('float')

In [147]:
mean_price = dc_listings.iloc[0:5]['price'].mean()

In [148]:
mean_price

156.6

# 문제 5

- predict_pricek- 최근 접 이웃 머신 러닝 기법을 사용하여에 대한 모든 값에 대해 제안 된 가격을 계산할 수 있는 함수를 작성합니다 accommodates. 이 기능은 다음과 같아야합니다.

- new_listing침실 수를 설명 하는 단일 매개 변수를 가져옵니다 .

- dc_listings라는 새 데이터 프레임에 할당 하는 코드를 추가했습니다 temp_df. 우리는 사용 pandas.DataFrame.copy () 기본 dataframe에 할당되도록 방법을 temp_df대신 그냥 참고로, dc_listings.

- accommodates열의 각 값 과 new_listing전달 된 값 사이의 거리를 계산합니다 . 결과 Series 객체를의 distance- 열에 할당합니다 temp_df.

- 열을 기준으로 정렬 temp_df하고 distance열에서 처음 5 개 값을 선택합니다 price. 의 순서를 무작위로 지정하지 마십시오 temp_df.

-  이 5 개 값의 평균을 계산하고이를 전체 predict_price함수 의 반환 값으로 사용 합니다.
- 이 predict_price기능을 사용하여 다음과 같은 생활 공간에 대한 가격을 제안 하십시오 .

- 1사람을 수용 하고 제안 된 가격을에 할당합니다 acc_one.

- 은 (는) 2사람들을 수용 하고 제안 된 가격을에 할당합니다 acc_two.

- 은 (는) 4사람들을 수용 하고 제안 된 가격을에 할당합니다 acc_four.

In [152]:
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
577,98%,52%,49,3,Private room,1.0,1.0,2.0,185.0,NaN,NaN,2,14,1,38.908356,-77.028146,Washington,20005,DC,0
2166,100%,89%,2,3,Entire home/apt,1.0,1.0,1.0,180.0,NaN,$100.00,1,14,10,38.905808,-77.000012,Washington,20002,DC,0
3631,98%,52%,49,3,Entire home/apt,1.0,1.0,2.0,175.0,NaN,NaN,3,14,1,38.889065,-76.993576,Washington,20003,DC,0
71,100%,94%,1,3,Entire home/apt,1.0,1.0,1.0,128.0,$40.00,NaN,1,1125,9,38.879960,-77.006491,Washington,20003,DC,0
1011,NaN,NaN,1,3,Entire home/apt,0.0,1.0,1.0,115.0,NaN,NaN,1,1125,0,38.907382,-77.035075,Washington,20005,DC,0

In [154]:
def predict_price(new_listing):
    temp_df = dc_listings.copy()
    ## Complete the function.
    return(new_listing)

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)

In [155]:
predict_price

In [156]:
def predict_price(new_listing):
    temp_df = dc_listings.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    nearest_neighbors = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbors.mean()
    return(predicted_price)

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)
print(acc_one)
print(acc_two)
print(acc_four)

78.8
126.0
197.6