## 서울시에서 공개한 코로나19 발생동향 분석
* http://www.seoul.go.kr/coronaV/coronaStatus.do

In [2]:
# 필요한 라이브러리를 불러옵니다.
import pandas as pd
import numpy as np

In [3]:
# 크롤링으로 가져올 url 주소를 입력합니다.
url= "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'http://www.seoul.go.kr/coronaV/coronaStatus.do'

In [4]:
# 판다스의 read_html 을 통해 위 url에 있는 불러옵니다.
table = pd.read_html(url)

In [5]:
# read_html 은 사이트 내의 html 태그를 불러옵니다.

table[0]

,소계,해외접촉관련,중구한화생명관련,강남구V빌딩관련,관악구사무실관련,강남구역삼동모임,도봉구요양시설관련,리치웨이관련,부천시쿠팡관련,수도권개척교회관련,양천구운동시설관련,이태원클럽관련,구로구콜센터관련,타 시·도확진자접촉자,기타,경로확인중
0,1449,323,5,8,6,13,43,122,24,37,43,139,98,51,393,142

In [6]:
# table 변수 안에 있는 table 태그의 값을 하나씩 읽어보며 확진자 목록이 있는 테이블을 가져옵니다.

table[1]

                                                   0
0  < 신종 코로나바이러스 감염증 예방 국민 행동수칙 >○ 기침 등 호흡기 증상이 있을...

In [7]:
# 미리보기 합니다.

table[2]

                                                   0
0  < 신종 코로나바이러스 감염증 예방 의료기관 행동수칙 >○ 호흡기 질환자 진료시 마...

In [8]:
df = table[4]
df.shape

(1580, 7)

In [9]:
# 마지막 확진일을 파일명에 써주기 위해 . 을 _ 로 변경합니다.
# 확장자와 구분이 쉽게 되도록 _ 로 변경합니다. 
#  0번이 제일 최근
last_day = df.loc[0, "확진일"]
last_day = last_day.replace(".", "_")
last_day

'7_27_'

In [12]:
# 파일명을 만들어 줍니다.
# file_name

file_name = F"seoul-covid19-{last_day}.csv"
file_name

'seoul-covid19-7_27_.csv'

In [34]:
# csv 파일로 저장합니다.
df.to_csv(file_name, index=False)

In [35]:
# 제대로 저장되었는지 확인합니다.
pd.read_csv(file_name)

        연번     환자    확진일  거주지     여행력         접촉력         조치사항
0     1574  14172  7.26.  송파구       -  송파구 확진자 접촉        서울의료원
1     1573  14173  7.26.  강동구      미국    해외 접촉 추정        보라매병원
2     1572  14165  7.26.  종로구       -  송파구 확진자 접촉        서울의료원
3     1571  14175  7.26.  관악구     필리핀    해외 접촉 추정        보라매병원
4     1570  14171  7.26.  용산구     이라크    해외 접촉 추정        서울의료원
...    ...    ...    ...  ...     ...         ...          ...
1569     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
1570     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1571     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
1572     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1573     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1574 rows x 7 columns]