# 데이터 불러오기

In [64]:
## 필요한 패키지를 불러옵니다.
import pandas as pd
import os

In [65]:
# ## 경로설정을 해줍니다.
# os.chdir(r'C:\Users\kmlam\Documents\러닝스푼즈\기본 지도학습\data')
# ## 위의 경로설정은 제 컴퓨터를 기준으로 입력한 것으로 각자 데이터를 저장한 위치에 맞게 바꿔주시기 바랍니다.

In [66]:
## 데이터를 불러옵니다.
iris = pd.read_csv("data/IRIS.csv")
## 위의 실습 데이터는 러닝스푼즈 홈페이지에서도 다운받으실 수 있습니다.

In [67]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [68]:
## 타겟 변수의 구성을 살펴봅니다
iris['species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [69]:
## 아이디를 생성합니다.
iris['id'] = range(len(iris))
iris

     sepal_length  sepal_width  petal_length  petal_width         species   id
0             5.1          3.5           1.4          0.2     Iris-setosa    0
1             4.9          3.0           1.4          0.2     Iris-setosa    1
2             4.7          3.2           1.3          0.2     Iris-setosa    2
3             4.6          3.1           1.5          0.2     Iris-setosa    3
4             5.0          3.6           1.4          0.2     Iris-setosa    4
..            ...          ...           ...          ...             ...  ...
145           6.7          3.0           5.2          2.3  Iris-virginica  145
146           6.3          2.5           5.0          1.9  Iris-virginica  146
147           6.5          3.0           5.2          2.0  Iris-virginica  147
148           6.2          3.4           5.4          2.3  Iris-virginica  148
149           5.9          3.0           5.1          1.8  Iris-virginica  149

[150 rows x 6 columns]

In [70]:
## 열의 순서를 바꿉니다.
iris = iris[['id','sepal_length','sepal_width','petal_length','petal_width','species']]

In [71]:
## iris 중에서 100개를 랜덤으로 추출해 train 데이터로 지정합니다.
train = iris.sample(100,replace=False,random_state=2020).reset_index().drop(['index'],axis=1)

In [72]:
train

     id  sepal_length  sepal_width  petal_length  petal_width          species
0   104           6.5          3.0           5.8          2.2   Iris-virginica
1     8           4.4          2.9           1.4          0.2      Iris-setosa
2    61           5.9          3.0           4.2          1.5  Iris-versicolor
3    54           6.5          2.8           4.6          1.5  Iris-versicolor
4    78           6.0          2.9           4.5          1.5  Iris-versicolor
..  ...           ...          ...           ...          ...              ...
95  149           5.9          3.0           5.1          1.8   Iris-virginica
96   14           5.8          4.0           1.2          0.2      Iris-setosa
97  145           6.7          3.0           5.2          2.3   Iris-virginica
98   94           5.6          2.7           4.2          1.3  Iris-versicolor
99   72           6.3          2.5           4.9          1.5  Iris-versicolor

[100 rows x 6 columns]

In [79]:
## 추출되지 않은 나머지를 test 데이터로 지정합니다.
test= iris.loc[ ~iris['id'].isin(train['id']) ]
test = test.reset_index().drop(['index'],axis=1)

In [86]:
test.head()

   id  sepal_length  sepal_width  petal_length  petal_width      species
0   1           4.9          3.0           1.4          0.2  Iris-setosa
1   3           4.6          3.1           1.5          0.2  Iris-setosa
2   6           4.6          3.4           1.4          0.3  Iris-setosa
3   9           4.9          3.1           1.5          0.1  Iris-setosa
4  20           5.4          3.4           1.7          0.2  Iris-setosa

# 의사결정나무 실습

<strong>특징</strong>

1. 해석이 쉽다.
2. 빠르다.

<strong>파라미터</strong>

1. min_samples_split : 의사결정나무에서 최종 노드의 최소 샘플 수

<strong>의사결정나무 학습시키기</strong>

In [80]:
## 의사결정나무를 위한 패키지를 임포트합니다.
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(min_samples_split = 10)

In [81]:
dt

DecisionTreeClassifier(min_samples_split=10)

In [82]:
## 의사결정나무 모델을 train 데이터에서 학습시킵니다.
dt.fit(train[['sepal_length','sepal_width','petal_length','petal_width']],train['species'])

DecisionTreeClassifier(min_samples_split=10)

In [83]:
## 예측을 진행합니다.
predictions = dt.predict(test[['sepal_length','sepal_width','petal_length','petal_width']])

In [84]:
## 정확도를 살펴봅니다.
(pd.Series(predictions)==test['species']).mean()

0.96

<strong>의사결정나무가 만든 규칙을 시각화하고 해석해보기</strong>

In [88]:
## 그림의 기본 크기를 설정합니다.
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 16,10

In [91]:
## 의사결정나무를 시각화합니다.
from sklearn import tree
import matplotlib.pyplot as plt

a=tree.plot_tree(dt,feature_names= )

<strong>Cross Validation</strong>

Cross validation을 통해 최적의 모델을 평가합니다.<br>
<strong>해당 사항은 추후 cross validation을 다루는 강의에서 다룰 것이기에 지금은 넘어가셔도 좋습니다.</strong>

In [ ]:
# from sklearn.model_selection import cross_val_score
# import numpy as np
# dt = DecisionTreeClassifier(min_samples_split = 10)

In [ ]:
# scores = cross_val_score(dt, iris[['sepal_length','sepal_width','petal_length','petal_width']], iris['species'], cv=5, scoring="accuracy")
# np.mean(scores)